{
  "ignorePatterns": ["dist/*", "lint-staged.config.js"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "root": true,
  "rules": {
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-redeclare": "error",
    "@typescript-eslint/no-extra-semi": "off"
  }
}
